/* Stylesheet for Example Cafe */
body {
	font-family:arial, verdana, sans-serif;
}
h2 {
	font: georgia, times, serif;
	color: #666666;
}
p {
	font-size: 90%;
	color: #333333;
}
#navigation a {
	color:#3399cc;
	text-decoration: none;
}
